@font-face {
    font-family: 'klingon';
    src:url('font/klingon/klingon.eot');
    src:url('font/klingon/klingon.eot?#iefix') format('embedded-opentype'),
        url('font/klingon/klingon.woff') format('woff'),
        url('font/klingon/klingon.ttf') format('truetype'),
        url('font/klingon/klingon.svg#klingon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.klingon {
    font-family: 'klingon';
}
@font-face {
    font-family: 'angerthas';
    src:url('font/angerthas/angerthas.eot');
    src:url('font/angerthas/angerthas.eot?#iefix') format('embedded-opentype'),
        url('font/angerthas/angerthas.woff') format('woff'),
        url('font/angerthas/angerthas.ttf') format('truetype'),
        url('font/angerthas/angerthas.svg#angerthas') format('svg');
    font-weight: normal;
    font-style: normal;
}
.angerthas {
    font-family: 'angerthas';
}
@font-face {
    font-family: 'elderfuthark';
    src:url('font/elderfuthark/elderfuthark.eot');
    src:url('font/elderfuthark/elderfuthark.eot?#iefix') format('embedded-opentype'),
        url('font/elderfuthark/elderfuthark.woff') format('woff'),
        url('font/elderfuthark/elderfuthark.ttf') format('truetype'),
        url('font/elderfuthark/elderfuthark.svg#elderfuthark') format('svg');
    font-weight: normal;
    font-style: normal;
}
.elderfuthark {
    font-family: 'elderfuthark';
}
@font-face {
    font-family: 'dovahzul';
    src:url('font/dovahzul/dovahzul.eot');
    src:url('font/dovahzul/dovahzul.eot?#iefix') format('embedded-opentype'),
        url('font/dovahzul/dovahzul.woff') format('woff'),
        url('font/dovahzul/dovahzul.ttf') format('truetype'),
        url('font/dovahzul/dovahzul.svg#dovahzul') format('svg');
    font-weight: normal;
    font-style: normal;
}
.dovahzul {
    font-family: 'dovahzul';
}
@font-face {
    font-family: 'iokharic';
    src:url('font/iokharic/iokharic.eot');
    src:url('font/iokharic/iokharic.eot?#iefix') format('embedded-opentype'),
        url('font/iokharic/iokharic.woff') format('woff'),
        url('font/iokharic/iokharic.ttf') format('truetype'),
        url('font/iokharic/iokharic.svg#iokharic') format('svg');
    font-weight: normal;
    font-style: normal;
}
.iokharic {
    font-family: 'iokharic';
}
@font-face {
    font-family: 'hylian64';
    src:url('font/hylian64/hylian64.eot');
    src:url('font/hylian64/hylian64.eot?#iefix') format('embedded-opentype'),
        url('font/hylian64/hylian64.woff') format('woff'),
        url('font/hylian64/hylian64.ttf') format('truetype'),
        url('font/hylian64/hylian64.svg#hylian64') format('svg');
    font-weight: normal;
    font-style: normal;
}
.hylian64 {
    font-family: 'hylian64';
}