/**
 * Dice styles
 */
#Dice {
	overflow: auto;
	height: 20em;
}
/**
 * For creating stat blocks inspired by D&D 5E
 */
hr.gradient {
    background: linear-gradient(10deg, #A73335, white);
    height:5px;
    margin:7px 0px;
}
.name {
    font-size:225%;
    font-family:Georgia, serif;
    font-variant:small-caps;
    font-weight:bold;
    color:#A73335;
}
.description {
    font-style:italic;    
}
.bold {
    font-weight:bold;
}
.red {
    color:#A73335;
}
.stattable {
    width:100%;
    border:0px;
    border-collapse:collapse;
    color:#A73335;
}
.stattable th, .stattable td {
    width:50px;
    text-align:center;
}
.actions {
    font-size:175%;
    font-variant:small-caps;
    margin:17px 0px 0px 0px;
}
hr.hr {
    background: #A73335;
    height:2px;
}
.attack {
    margin:5px 0px;
}
.attackname {
    font-weight:bold;
    font-style:italic;
}
/**
 * For draggable elements
 */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
/**
 * For iFrame
 */
.embed-responsive.embed-responsive-iframe {
  padding-bottom: 100%;
}