/**
 * Dice styles
 */
#Dice {
	overflow: auto;
	height: 20em;
}
/**
 * For creating stat blocks inspired by D&D 5E
 */
#editable {
	background: white;
	width: 100%;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 15px;
}
#editable div {
	margin-left: 10px;
}
#editable hr.gradient {
    background: #A73335;
    height:5px;
    margin:7px 0px;
}
#editable .name {
    font-size:32px;
    font-family:Georgia, serif;
    font-variant:small-caps;
    font-weight:bold;
    color:#A73335;
}
#editable .description {
    font-style:italic;    
}
#editable .bold {
    font-weight:bold;
}
.red {
    color:#A73335;
}
#editable .stattable {
    width:100%;
    border:0px;
    border-collapse:collapse;
    color:#A73335;
}
#editable .stattable th, #editable .stattable td {
    width:50px;
    text-align:center;
}
#editable .actions {
    font-size:25px;
    font-variant:small-caps;
}
#editable hr.hr {
    background: #A73335;
    height:2px;
}
#editable .attackname {
    font-weight:bold;
    font-style:italic;
}
/**
 * For draggable elements
 */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
/**
 * For iFrame
 */
.embed-responsive.embed-responsive-iframe {
  padding-bottom: 100%;
}